.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0);
}

.dropdown-menu > li > a {
    padding: 10px 20px !important;
}

.carousel-nav {
	position: absolute; 
	top: 50%; 
	z-index: 5; 
	display: inline-block;
}

.error {
	color: red;
}

.bg-bronze {
	background: #cd7f32 !important;
}
.bg-silver {
	background: #CCC2C2 !important;
}
.bg-gold {
	background: #C98910 !important;
}
.bg-platinum {
	background: #A8A8A8 !important;
}

/* Navigation Bar ( Navbar ) */

div.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

div.navbar .navbar-nav li.active a:not(.btn) {
	color: #00a8ff !important;
}

div.navbar {
	top: 0;
	padding: 25px 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

div.navbar .navbar-nav > li > a:not(.btn) {
	color: #00a8ff;
}

/* Maps */
#map {
	height: 400px;
}
#origin-input,
#destination-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	display: block;
}

#origin-input:focus,
#destination-input:focus {
	border-color: #4d90fe;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* breakword */
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

/* List Orders */    
    .order-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.order-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.order-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: #00A8FF;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.order-list > li:nth-child(even) > time {
		background-color: #5EC8FF;
	}
	.order-list > li > time > span {
		display: none;
	}
	.order-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.order-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.order-list > li time > .year {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.order-list > li > img {
		width: 100%;
	}
	.order-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.order-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.order-list > li > .info > .desc {
		font-size: 11pt;
		font-weight: 300;
		margin: 0px;
	}
	.order-list > li > .info > ul,
	.order-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.order-list > li > .social > ul {
		margin: 0px;
	}
	.order-list > li > .info > ul > li,
	.order-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .order-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .order-list > li > .social > ul > li {    
        padding: 0px;
    }
    .order-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.order-list > li > .info > ul > li:hover,
	.order-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.order-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 150px;
			padding: 0px;
		}
		.order-list > li > time,
		.order-list > li > img  {
			display: inline-block;
		}
		.order-list > li > time,
		.order-list > li > img {
			width: 120px;
			float: left;
		}
		.order-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.order-list > li > time,
		.order-list > li > img {
			width: 120px;
			height: 150px;
			padding: 0px;
			margin: 0px;
		}
		.order-list > li > .info {
			position: relative;
			height: 150px;
			text-align: left;
			padding-right: 40px;
		}	
		.order-list > li > .info > .title, 
		.order-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.order-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.order-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .order-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.order-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.order-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}